@{
    ViewData["Title"] = "Контакти";
}
<h3>@ViewData["Message"]</h3>

<address>
    вул. Генерала Чупринки, 103,<br />
    Львів, Україна 79057<br />
</address>

<address>
    <strong>Підтримка:</strong> <a href="mailto:ostap024@gmail.com">ostap024@gmail.com</a><br />
</address>
