
@{
    ViewData["Title"] = "DeleteAll";
}


<div>
    <div>
        <form asp-controller="Home" asp-action="DeleteAll" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Видалити все" />
            </div>
        </form>
    </div>
</div>

